.control-container {
  max-width: 600px;
  margin: auto;
}

.control-container select {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  cursor: pointer;
  width: 100%;
}

select:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

option {
  font-size: 16px;
}
