.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.header .title {
    font-size: 70px;
    margin-top: 10px;
}

.header .subtitle {
    font-size: 14px;
    font-weight: bold;
}

.header span {
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    margin-top: 10px;
}